---
layout: archive
title: "My Life"
permalink: /portfolio/
author_profile: true
redirect_from:
  - /md/
---

{% include base_path %}


<font size = "6"><bold>Photos</bold></font>

<font size = "5" color = "#0000FF"><bold>- Banff National Park</bold></font>
</bold></font>
<p> <img src='/images/Louis1.JPG'> </p>


<font size = "5" color = "#0000FF"><bold>- Montreal</bold></font>

<font size = "4"><bold>Spring</bold></font>

<p> <img src='/images/Montreal_Spring.JPG'> </p>

<font size = "4"><bold>Summer</bold></font>

<p> <img src='/images/Montreal_Summer.JPG'> </p>

<font size = "4"><bold>Fall</bold></font>

<p> <img src='/images/Montreal_Fall.JPG'> </p>

<font size = "4"><bold>Winter</bold></font>

<p> <img src='/images/Montreal_Winter.JPG'> </p>




<!--{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}!--> 
