---
layout: archive
title: "My Life"
permalink: /portfolio/
author_profile: true
redirect_from:
  - /md/
---

{% include base_path %}


<font size = "5"><bold>Photos</bold></font>

- Banff National Park

<p> <img src='/images/Louis1.JPG'> </p>


- Montreal

<font size = "3"><bold>Spring</bold></font>

<p> <img src='/images/Montreal_Spring.JPG'> </p>

<font size = "3"><bold>Summer</bold></font>

<p> <img src='/images/Montreal_Summer.JPG'> </p>

<font size = "3"><bold>Fall</bold></font>

<p> <img src='/images/Montreal_Fall.JPG'> </p>

<font size = "3"><bold>Winter</bold></font>

<p> <img src='/images/Montreal_Winter.JPG'> </p>




<!--{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}!--> 
